<%- include('./partials/header'); -%>

    <section>

        <% if(locals.someMsg){ %>
            <span><%= someMsg %></span>
            <% }  %>


                <div class="my-download-cont text-center">
                    <div class="d-flex justify-content-center">
                        <div class="card" style="width: 18rem;">
                            <img src="/pix/download.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <% if(locals.fileName){ %>
                                        <span><%= fileName %></span>
                                        <% }  %>
                                </h5>
                                <p class="card-text">
                                    <% if(locals.fileSize){ %>
                                        <%= parseInt(fileSize/1024)  %> KB
                                            <% }  %>
                                </p>
                                <a href="<%= downloadUrl %>" class="btn btn-primary">Download</a>
                            </div>
                        </div>
                    </div>
                </div>



    </section>


    <%- include('./partials/footer'); -%>